﻿@model Aspun.Web.ViewModels.BusinessUnitEditModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Items[{0}]", ViewData["Index"]);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }

    bool isDeleteEnabled = (bool)ViewData["isDeleteEnabled"];
    bool isEditEnabled = (bool)ViewData["isEditEnabled"];
}

<tr class="businessUnitRow">
    <td class="orderNumber">
        <div>
            @Html.Encode((int)ViewData["Index"] + 1)
        </div>
    </td>

    <td class="name">
        @if(isEditEnabled) {
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new { @class="x2" })
            </div>
            <div class="hidden-validationmessage">
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        }
        else{
            <div class="display-field">
                @Html.DisplayFor(model => model.Name)
            </div>
        }
        @* В ячейке orderNumber нельзя хранить, т.к. она перезаписывается *@
        @Html.HiddenFor(model=>model.BusinessUnitId)
    </td>

    <td class="prefix">
        @if(isEditEnabled) {
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Prefix)
            </div>
            <div class="hidden-validationmessage">
                @Html.ValidationMessageFor(model => model.Prefix)
            </div>
        }
        else{
            <div class="display-field">
                @Html.DisplayFor(model => model.Prefix)
            </div>
        }
    </td>

    <td class="controls">
        <div>
            @if(isDeleteEnabled) {
                <input class="removeItem btn" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="Удалить" title="Удалить предприятие" />
            }
        </div>
    </td>
</tr>

