﻿@model Aspun.Web.ViewModels.ViolationTypeListEditModel

@{
    ViewBag.Title = "Типы нарушений";
}

@section Scripts {

<script type="text/javascript">

    // Функция, описывающая объект для формы
    function ViolationTypeViewType() {

        var self = this; // Для обработчиков событий
        this.containerId = "violationtype-container";
        this.formId = "formViolationType";
        this.rowSelector = ".violationTypeRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = "ViolationType/GetNewViolationTypeItem";
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(ViolationTypeViewType, app.DynamicListView);

    // Переопределить функции

    ViolationTypeViewType.prototype.base_onLoad = app.DynamicListView.prototype.onLoad;
    ViolationTypeViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    ViolationTypeViewType.prototype.base_onUnload = app.DynamicListView.prototype.onUnload;
    ViolationTypeViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    ViolationTypeViewType.prototype.base_initControls = app.DynamicListView.prototype.initControls;
    ViolationTypeViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    ViolationTypeViewType.prototype.base_beforeRequestAddItem = app.DynamicListView.prototype.beforeRequestAddItem;
    ViolationTypeViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    ViolationTypeViewType.prototype.base_afterRequestAddItem = app.DynamicListView.prototype.afterRequestAddItem;
    ViolationTypeViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };

    var ViolationTypeView = new ViolationTypeViewType();


</script>

<script type="text/javascript">
    $(document).ready(function () {
        ViolationTypeView.onLoad();
    });

    $(window).unload(function () {
        ViolationTypeView.onUnload();
    });   
</script>
       
}

<h2>Типы нарушений</h2>

@using (Html.BeginForm("Index", "ViolationType", FormMethod.Post, new { id = "formViolationType" }))
{
    @Html.ValidationSummary(false, Aspun.Web.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "violationtype-validation" })
    
    <table id="violationtype-container" >
        <thead>

            <tr>
                <th></th>
                <th>Шифр нарушения
                </th>
                <th>Описание
                </th>
                <th>Пункт правил
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                @Html.EditorFor(model => model.Items[i], new { index = i, isDeleteEnabled = Model.IsDeleteEnabled, isEditEnabled = Model.IsSaveEnabled  })
            }
        </tbody>

    </table>

    <p>
        @if(Model.IsCreateEnabled) {
            <input id="btnAddItem" type="submit" name="addItem" value="Добавить" title="Добавить новый тип" class="btn" />
        }
    </p>    
    
    <p>
        @if(Model.IsSaveEnabled) {
            <input type="submit" name="buttonSave" value="Сохранить" class="btn" />
        }
        @Html.ActionLink("Отмена", "Index", "Home", null, new { @class = "btn" })
    </p>
}