﻿@model Aspun.Core.Model.Permission2

@*<div class="permission2">
    @Html.RadioButtonFor(model => model, Aspun.Core.Model.Permission2.Denied) <span>Запрещено</span>
    <br />
    @Html.RadioButtonFor(model => model, Aspun.Core.Model.Permission2.View) <span>Просмотр</span>
    <br />
</div>*@
