﻿@model Aspun.Core.Model.Permission3

@*<div class="permission3">
@Html.RadioButtonFor(model => model, Aspun.Core.Model.Permission3.Denied, new {  }) <span>Запрещено</span>
<br />
@Html.RadioButtonFor(model => model, Aspun.Core.Model.Permission3.View, new { }) <span>Только просмотр</span>
<br />
@Html.RadioButtonFor(model => model, Aspun.Core.Model.Permission3.All, new { }) <span>Добавление / редактирование / удаление</span>
</div>*@
