﻿@model Aspun.Core.Model.Permission4

@*<div class="permission4">
@Html.RadioButtonFor(model => model, Aspun.Core.Model.Permission4.Denied) <span>Запрещено</span>
<br />
@Html.RadioButtonFor(model => model, Aspun.Core.Model.Permission4.View) <span>Только просмотр</span>
<br />
@Html.RadioButtonFor(model => model, Aspun.Core.Model.Permission4.InsertUpdate) <span>Добавление / редактирование</span>
<br />
@Html.RadioButtonFor(model => model, Aspun.Core.Model.Permission4.All) <span>Добавление / редактирование / удаление</span>
</div>*@
