﻿div.jGrowl div.error {
	background-color: 		red;
	color: 					white;
}

#body {
}

.content-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    /*margin-bottom: 15px;*/

    padding-bottom: 15px;
}

footer {
    border-top: 1px solid #d4d4d4;

    padding-left: 2px;
    padding-top: 2px;

    background-color: #fafafa;

    font-size: 88%;
}

h2 {
    font-size: 22px;
}


/* VALIDATION */

div#violationtype-validation ul,
div#usercreate-validation ul,
div#useredit-validation ul,
div#employeecreate-validation ul,
div#employeeedit-validation ul,
div#violationcreate-validation ul,
div#violationedit-validation ul,
div#businessunit-validation ul
{
    display: none;
}

.validation-summary-errors {
    color: #e80c4d;
    /*font-weight: bold;*/
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    /*font-weight: bold;*/
}

.hidden-validationmessage .field-validation-error {
    display: none;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

input.x2,
textarea.x2,
.uneditable-input.x2 {
    width: 412px;
}

select.x2 {
    width: 426px;
}

input.x3,
textarea.x3,
.uneditable-input.x3 {
    width: 618px;
}

select.x3 {
    width: 639px;
}

input.x100,
textarea.x100,
.uneditable-input.x100 {
    width: 100%;
}

/* WEB-GRID 
 ----------------------------------------------- */

.webgrid
{
    /*width: 100%;*/
    border: 0px;
    border-collapse: collapse;
}
 
.webgrid a
{
    color: #111;
}

.webgrid-stretched {
    width: 100%;
}
 
.webgrid-header
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-bottom: 1px solid #BBBFC1;
    height: 40px;
 
    border-top: 1px solid #BBBFC1;
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-footer
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-top: 1px solid #BBBFC1;
    height: 30px;
 
    border-bottom: 1px solid #BBBFC1;
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-alternating-row
{
    height: 30px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #BBBFC1;
 
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-row-style
{
    height: 30px;
    border-bottom: 1px solid #BBBFC1;
 
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-selected-row
{
    font-weight: bold;
}

.webgrid-cell
{
    padding: 3px;
}

.webgrid-air-cell
{
    padding: 3px 10px;
}



/* TABLE DETAILS 
 ----------------------------------------------------- */

table.details {
    
}

table.details tr {
    height: 30px;
}

table.details td {
    height: 20px;
    padding: 3px;
    /*border: 1px solid #BBBFC1;*/
}

table.details .display-field {
    font-weight: bold;
}

/* TABLE FLUID */
.table-fluid {
}

.table-fluid td {
    padding-right: 6px;
}

.table-fluid td.raised {
    padding-bottom: 10px;
}

.table-fluid td.label-field {
    vertical-align: top;
}

/* TABLE VIEW */

td.orderNumber div {
    padding-bottom: 10px;
    padding-right: 5px;
}

td.controls div {
    padding-bottom: 10px;
    padding-left: 5px;
}

ul.ui-autocomplete {
    list-style-type: none;
}

/* Значения для конкретных таблиц 
 ------------------------------------------------------------ */

/* Для таблицы Business Units в режиме просмотра */
tr.businessUnitRow td.name div.display-field {
    padding-bottom: 10px;
    padding-left: 10px;
}

tr.businessUnitRow td.prefix div.display-field {
    padding-bottom: 10px;
    padding-left: 10px;
}

/* Для таблицы Violation Types */

table#violationtype-container {
    width: 100%;
}

tr.violationTypeRow td.description {
    width: 100%;
    padding-right: 15px;
}

/*tr.violationTypeRow td.description .editor-field input {
    width: 100%;
}*/

/* Для таблицы Violation Types в режиме просмотра */
tr.violationTypeRow td.description .display-field {
    padding-left: 10px;
}

tr.violationTypeRow td.code .display-field {
    padding-left: 10px;
}

tr.violationTypeRow .display-field {
    padding-bottom: 10px;
    padding-right: 15px;
}

/* Уменьшить шрифт в выпадающем списке на autocomplete */
ul.ui-autocomplete a {
    font-size: 80%;
}

/* IMPORT EXCEL */
#container-importResult {
    font-weight: bold;
}

/* */

.radio-border {
    border: 1px solid #BBBFC1;
    padding: 5px 5px 2px 5px;
    margin-bottom: 5px;
}

.blockmsg {
    padding: 10px 5px 10px 5px;

    background: url('images/busy.gif') no-repeat 5px 3px;
}

.blockmsg .blockimg {
    width: 32px;
    height: 32px;
    background-image: url('images/busy.gif');
    background-repeat: no-repeat;
    
    margin-right: 10px;
}

/*
html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/*
/* main layout
----------------------------------------------------------*/

/*


    .main-content {
        background: url("../Images/accent.png") no-repeat;
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}
    */

/* site title
----------------------------------------------------------*/

/*
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}
    */

/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .9em;
    margin: 0 0 10px;
    text-align: right;
    padding-right: 10px;
}

    /*#login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }*/


/* menu
----------------------------------------------------------*/
/*ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }*/


/* page elements
----------------------------------------------------------*/
/* featured */
/*.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }*/

/* page titles */
/*hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}*/

/* features */
/*section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}*/

/* ordered list */
/*ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }*/

/* content */
/*article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}*/

/* login page */
/*#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}*/

/* contact */
/*.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}*/

/* forms */
/*fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }*/




/* tables
----------------------------------------------------------*/
/*table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}*/


/********************
*   Mobile Styles   *
********************/
/*@media only screen and (max-width: 850px) {

    header .float-left,
    header .float-right {
        float: none;
    }

    header .site-title {
        margin: 10px;
        text-align: center;
    }

    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }*/

    /* menu */
    /*nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }*/


    /* main layout
    ----------------------------------------------------------*/
    /*.main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }*/

    /* page content */
    /*article, aside {
        float: none;
        width: 100%;
    }*/

    /* ordered list */
    /*ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }*/

     /* features */
     /*section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }*/

    /* forms */
    /*input {
        width: 90%;
    }*/

    /* login page */
    /*#loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }*/


    /* footer
    ----------------------------------------------------------*/
    /*footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}*/
