﻿@model Aspun.Web.ViewModels.UserBaseModel

<tr>
    <td style="padding-top: 5px;">
        @Html.LabelFor(model => model.IsAllowed)
    </td>
    <td>
        @Html.EditorFor(model => model.IsAllowed)
    </td>
    <td>
        @Html.ValidationMessageFor(model => model.IsAllowed)
    </td>
</tr>
<tr>
    <td class="label-field">
        @Html.LabelFor(model => model.UserManagementPermissionRadio)
    </td>
    <td>
        <div class="radio-border">
            @Html.RadioButtonListFor(m => m.UserManagementPermissionRadio)
        </div>
    </td>
    <td></td>
</tr>    
<tr>
    <td class="label-field">
        @Html.LabelFor(model => model.ViolationManagementPermissionRadio)
    </td>
    <td>
        <div class="radio-border">
            @Html.RadioButtonListFor(m => m.ViolationManagementPermissionRadio)
        </div>
    </td>
    <td></td>
</tr>  
<tr>
    <td class="label-field">
        @Html.LabelFor(model => model.ViolationTypeManagementPermissionRadio)
    </td>
    <td>
        <div class="radio-border">
            @Html.RadioButtonListFor(m => m.ViolationTypeManagementPermissionRadio)
        </div>
    </td>
    <td></td>
</tr>  
<tr>
    <td class="label-field">
        @Html.LabelFor(model => model.BusinessUnitManagementPermissionRadio)
    </td>
    <td>
        <div class="radio-border">
            @Html.RadioButtonListFor(m => m.BusinessUnitManagementPermissionRadio)
        </div>
    </td>
    <td></td>
</tr>  
<tr>
    <td class="label-field">
        @Html.LabelFor(model => model.EmployeeManagementPermissionRadio)
    </td>
    <td>
        <div class="radio-border">
            @Html.RadioButtonListFor(m => m.EmployeeManagementPermissionRadio)
        </div>
    </td>
    <td></td>
</tr>  
<tr>
    <td style="padding-top: 5px;">
        @Html.LabelFor(model => model.HasAccessToAllBusinessUnits)
    </td>
    <td>
        @Html.EditorFor(model => model.HasAccessToAllBusinessUnits)
    </td>
    <td>
        @Html.ValidationMessageFor(model => model.HasAccessToAllBusinessUnits)
    </td>
</tr>  
<tr>
    <td class="label-field">
        <span>Разрешен доступ к следующим предприятиям:</span>
    </td>
    <td>
        @Html.ListBoxFor(m => m.SelectedBU, new SelectList(Model.BUList, "Value", "Text"), new { @class = "x2", style="height: 200px;" })
    </td>
    <td></td>
</tr>  
<tr>
    <td>
        @Html.HiddenFor(model=>model.UserId)
    </td>
    <td></td>
    <td></td>
</tr>


@*  Пока отстуствует история изменений  
    <div class="editor-label">
        @Html.LabelFor(model => model.HistoryPermissionRadio)
    </div>
    <div class="editor-field">
        @Html.RadioButtonListFor(m => m.HistoryPermissionRadio)
    </div>*@





