﻿@{
    ViewBag.Title = "Удаление пользователя";
}

<h2>Удаление пользователя</h2>

<span>Подтвердите удаление пользователя</span>

<br />

@using (Html.BeginForm("Delete", "User", FormMethod.Post, new { id = "formDeleteUser" }))
{
    <input type="submit" class="btn" name="delete" value="Удалить" />
    @Html.ActionLink("Отмена", "Index", null, new { @class="btn"})
}
