﻿@model Aspun.Web.ViewModels.UserEditModel

@{
    ViewBag.Title = "Редактирование пользователя";
}

<h2>Редактирование пользователя</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false, Aspun.Web.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "useredit-validation" })

    <table class="table-fluid">

        <tr>
            <td class="label-field">
                @Html.LabelFor(model => model.Login)
            </td>
            <td>
                @Html.EditorFor(model => model.Login)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Login)
            </td>
        </tr>
        <tr>
            <td class="label-field">
                @Html.LabelFor(model => model.Name)      
            </td>
            <td>
                @Html.TextBoxFor(model => model.Name, new { @class = "x2" })      
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Name)      
            </td>
        </tr>
        <tr>
            <td class="label-field">
                @Html.LabelFor(model => model.BusinessUnitName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.BusinessUnitName, new { @class="x2" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.BusinessUnitName)
            </td>
        </tr>  

        @Html.Partial("_Common", Model)

    </table>
    
    <p>
        <input type="submit" value="Сохранить" class="btn" />

        @Html.ActionLink("Отмена", "Index", null, new { @class="btn"} )
    </p>
}
