﻿@model Aspun.Web.ViewModels.PagedUsersModel

@{
    ViewBag.Title = "Пользователи";
}

@section Scripts {

    <script type="text/javascript">
        $(function(){
            'use strict';

            $(".delete-btn").click(function () {

                if (!confirm('@Aspun.Web.Resources.Strings.ConfirmDeleteUser')) {
                    return false;
                }

                var url = $(this).attr("href");

                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data, textStatus, jqXHR) {
                        // Просто перезагрузить страницу
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        app.msgError('@Aspun.Web.Resources.Strings.ErrorAjaxRequest' + ' / ' + errorThrown);
                    }
                });

                return false;
            });
        });
    </script>
}

<h2>Пользователи</h2>

<p>
    @if(Model.IsCreateEnabled) {
        @Html.ActionLink("Добавить пользователя...", "Create", null, new { @class="btn"} )
    }
</p>

@{
    var grid = new WebGrid(null, rowsPerPage: Model.PageSize, defaultSort: "Login");
    grid.Bind(Model.Users, rowCount: Model.TotalRows, autoSortAndPage: false);
}

<div class="user-list">
    @grid.GetHtml(columns: grid.Columns(
        grid.Column(columnName: "Login", header: "Логин", style: "webgrid-air-cell",
            format:@<text>
                    @if(Model.IsEditEnabled) {
                        @Html.ActionLink((string)item.Login, "Edit", new { id = item.UserId})
                    }
                    else {
                        @Html.Encode((string)item.Login)
                    }
                   </text>),
        grid.Column(columnName: "Name", canSort: true, header: "Имя", style: "webgrid-air-cell"),
        grid.Column(columnName: "Unit", canSort: true, header: "Предприятие", style: "webgrid-air-cell"),
        grid.Column(columnName: "IsAllowed", header: "Разрешен", canSort: false, style: "webgrid-air-cell",
        format: @<text>
                    @Html.CheckBox("IsAllowed", (bool)item.IsAllowed, new { disabled = "disabled" })
                </text>
        ),
        grid.Column(columnName: "UserId", canSort: false, header: "", style: "webgrid-air-cell",
            format: @<text>
                        @if(Model.IsDeleteEnabled) {
                            <a href='@Url.Action("Delete",new { id = item.UserId })'  class="btn delete-btn" title="Удалить">
                                <i class="icon-remove"></i>
                            </a>
                        }
                    </text>)
        ),
        tableStyle: "webgrid",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style"        
    )
</div> 

@* @Html.ActionLink("Удалить", "Delete", new { id = item.UserId }, new { @class = "btn delete-btn" }) *@