﻿@model Aspun.Web.ViewModels.ViolationTypeEditModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Items[{0}]", ViewData["Index"]);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }

    bool isDeleteEnabled = (bool)ViewData["isDeleteEnabled"];
    bool isEditEnabled = (bool)ViewData["isEditEnabled"];    
}

<tr class="violationTypeRow">
    <td class="orderNumber">
        <div>
            @Html.Encode((int)ViewData["Index"] + 1)
        </div>
    </td>

    <td class="code">
        @if(isEditEnabled) {
            <div class="editor-field">
                @Html.EditorFor(model => model.Code)
            </div>
            <div class="hidden-validationmessage">
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        }
        else {
            <div class="display-field">
                @Html.DisplayFor(model => model.Code)
            </div>
        }  
    </td>

    <td class="description">
        @if(isEditEnabled) {
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Description, new { @class = "x100" })
            </div>
            <div class="hidden-validationmessage">
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        }
        else {
            <div class="display-field">
                @Html.DisplayFor(model => model.Description)
            </div>
        }        
        @* В ячейке orderNumber нельзя хранить, т.к. она перезаписывается *@
        @Html.HiddenFor(model=>model.ViolationTypeId)
    </td>

    <td class="regulationspar">
        @if(isEditEnabled) {
            <div class="editor-field">
                @Html.EditorFor(model => model.RegulationsPar)
            </div>
            <div class="hidden-validationmessage">
                @Html.ValidationMessageFor(model => model.RegulationsPar)
            </div>
        }
        else {
            <div class="display-field">
                @Html.DisplayFor(model => model.RegulationsPar)
            </div>
        }  
    </td>

    <td class="controls">
        <div>
            @if(isDeleteEnabled) {
                <input class="removeItem btn" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="Удалить" title="Удалить нарушение" />
            }
        </div>
    </td>
</tr>

