﻿@{
    ViewBag.Title = "Отсутствует доступ";
}

<h2>Отстуствует доступ</h2>

<span>У вас не хватает прав для выполнения данной операции.</span><br />
<span>Обратитесь к администратору ресурса.</span>
