﻿@model Aspun.Core.Model.Violation

@{
    ViewBag.Title = "Нарушение добавлено";
}

<h2>Нарушение добавлено</h2>

<table class="details">
    <tr>
        <td>
            <div class="display-label">
                <span>Присвоенный номер:</span>
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Number)
            </div>
        </td>
    </tr>
</table>
<br />
<p>
    @Html.ActionLink("Добавить еще одно нарушение", "Create", null, new { })
</p>
<p>
    @Html.ActionLink("← Вернуться к списку нарушений", "Index", null, new { })
</p>
