﻿@model Aspun.Web.ViewModels.ViolationCreateModel

@{
    ViewBag.Title = "Ввод нарушения";
}

@section Scripts {

    <script type="text/javascript">

        function ViolationViewType() {

            var self = this; // Для обработчиков событий

            this.formSelector = "#formViolation";
            //this.selectedEmplId = $("#SelectedEmployeeId").val();
            //this.selectedEmplText = $("#EmployeeCombinedText").val();

            this.autocomplete_source = function (request, response) {
                $.ajax({
                    url: this.element.attr("data-source-url"),
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            };

            this.autocomplete_select = function (event, ui) {

                if (ui.item) {
                    // selected
                    //self.selectedEmplId = ui.item.id;
                    //self.selectedEmplText = ui.item.value;

                    //$("#SelectedEmployee").val(ui.item.fio);
                    ui.item.value = ui.item.fio;
                    $("#EmployeeNumber").val(ui.item.number);
                    $("#EmployeePosition").val(ui.item.position);
                    $("#EmployeeUnit").val(ui.item.unit);

                    // Выбрать соответствующий БЕ
                    // ...  сначала выбрать value по тексту
                    var buValue = $('select#SelectedBusinessUnitId option').filter(function ()
                    {
                        return $(this).html() == ui.item.bu;
                    }).val();

                    $('select#SelectedBusinessUnitId').val(buValue);
                }

                return true;
            };

            //this.onSubmit = function () {
            //    // Перед отправкой данных на сервер проверить, что введенный Employee (в input'е)
            //    // совпадает с тем что выбрано из autocomplete
            //    var inputText = $("#EmployeeCombinedText").val();

            //    if (inputText != self.selectedEmplText) {
            //        // Показать валидационную ошибку, что сотрудник выбран неправильный (не из существующего списка)
            //        $("#SelectedEmployeeId").val('');
            //        $("#SelectedEmployeeId").valid();
            //        return false;
            //    }
            //    else {
            //        // сохранить Id выбранного Employee в поле, чтобы передать на сервер
            //        $("#SelectedEmployeeId").val(self.selectedEmplId);
            //    }
            //};
        }

        // Унаследоваться от базового представления
        extend(ViolationViewType, app.ViewBase);

        // Переопределить функции

        ViolationViewType.prototype.base_onLoad = app.ViewBase.prototype.onLoad;
        ViolationViewType.prototype.onLoad = function () {
            this.base_onLoad();

            this.initControls();
        };

        ViolationViewType.prototype.base_onUnload = app.ViewBase.prototype.onUnload;
        ViolationViewType.prototype.onUnload = function () {
        };

        // Инициализует элементы формы при загрузке
        ViolationViewType.prototype.base_initControls = app.ViewBase.prototype.initControls;
        ViolationViewType.prototype.initControls = function (container) {

            this.base_initControls(container);

            $("input.employeecomplete", container).autocomplete({
                source: this.autocomplete_source,
                select: this.autocomplete_select
                //change: function (event, ui) { alert('changed');}
            });

            //$(this.formSelector).submit(this.onSubmit);

        };

        var ViolationView = new ViolationViewType();
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            ViolationView.onLoad();
        });

        $(window).unload(function () {
            ViolationView.onUnload();
        });
    </script>

    }

<h2>Ввод нарушения</h2>

@using (Html.BeginForm("Create", "Violation", FormMethod.Post, new { id = "formViolation" }))
{
    @Html.ValidationSummary(false, Aspun.Web.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "violationcreate-validation" })

    @Html.HiddenFor(model => model.ViolationId)

    <table class="table-fluid">
@*        <tr>
            <td>
                @Html.LabelFor(model => model.Number)
            </td>
            <td>
                @Html.EditorFor(model => model.Number)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Number)
            </td>
        </tr>*@
        <tr>
            <td>
                @Html.LabelFor(model => model.DateString)
            </td>
            <td>
                @Html.EditorFor(model => model.DateString)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.DateString)
            </td>
        </tr>
@*        <tr>
            <td>
                @Html.LabelFor(model => model.BusinessUnitName)
            </td>
            <td>
                @Html.DropDownListFor(model => model.BusinessUnitName, Model.BusinessUnitList, new { @class="x2" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.BusinessUnitName)
            </td>
        </tr>*@
        <tr>
            <td>
                @Html.LabelFor(model => model.SelectedBusinessUnitId)
            </td>
            <td>
                @Html.DropDownListFor(model => model.SelectedBusinessUnitId, Model.BusinessUnitList, new { @class="x2" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.SelectedBusinessUnitId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SelectedEmployee)
            </td>
            <td>
                @Html.TextBoxFor(model => model.SelectedEmployee, new { @class = "employeecomplete x2", data_source_url = "Employees" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.SelectedEmployee)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.EmployeeNumber)
            </td>
            <td>
                @Html.EditorFor(model => model.EmployeeNumber)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.EmployeeNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.EmployeePosition)
            </td>
            <td>
                @Html.TextBoxFor(model => model.EmployeePosition, new { @class = "x2" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.EmployeePosition)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.EmployeeUnit)
            </td>
            <td>
                @Html.TextBoxFor(model => model.EmployeeUnit, new { @class = "x2" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.EmployeeUnit)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SelectedViolationId)
            </td>
            <td>
                @Html.DropDownListFor(model => model.SelectedViolationId, Model.ViolationList, new { @class="x3" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.SelectedViolationId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Description)
            </td>
            <td>
                @Html.TextAreaFor(model => model.Description, 5, 80, new { @class="x2" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>
    </table>
    
    <p>
        <input type="submit" value="Создать" class="btn"/>
        @Html.ActionLink("Отмена", "Index", null, new { @class="btn"} )
    </p>
}

