﻿@{
    ViewBag.Title = "Удаление нарушения";
}

<h2>Удаление нарушения</h2>

<span>Подтвердите удаление нарушения</span>

<br />

@using (Html.BeginForm("Delete", "Violation", FormMethod.Post, new { id = "formDeleteViolation" }))
{
    <input type="submit" class="btn" name="delete" value="Удалить" />
    @Html.ActionLink("Отмена", "Index", null, new { @class="btn"})
}
