﻿@model Aspun.Web.ViewModels.ViolationDetailsModel

@{
    ViewBag.Title = "Проосмотр нарушения";
}

<h2>Просмотр нарушения</h2>


<table class="details">
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Number)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Number)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.DateString)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.DateString)
            </div>

        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.BusinessUnitName)
            </div>

        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.BusinessUnitName)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.EmployeeFIO)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.EmployeeFIO)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.EmployeeNumber)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.EmployeePosition)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.EmployeePosition)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.ViolationTypeCode)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.ViolationTypeCode)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.ViolationTypeDescription)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.ViolationTypeDescription)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.ViolationTypePar)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.ViolationTypePar)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Description)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Description)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.CreatorUserName)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.CreatorUserName)
            </div>
        </td>
    </tr>
</table>
<br />
<p>
    @Html.ActionLink("← Вернуться к списку нарушений", "Index", null, new { })
</p>
