﻿@model Aspun.Web.ViewModels.ViolationEditModel

@{
    ViewBag.Title = "Редактирование нарушения";
}

@section Scripts {

    <script type="text/javascript">

        function ViolationViewType() {

            var self = this; // Для обработчиков событий

            this.formSelector = "#formViolation";

        }

        // Унаследоваться от базового представления
        extend(ViolationViewType, app.ViewBase);

        // Переопределить функции

        ViolationViewType.prototype.base_onLoad = app.ViewBase.prototype.onLoad;
        ViolationViewType.prototype.onLoad = function () {
            this.base_onLoad();

            this.initControls();
        };

        ViolationViewType.prototype.base_onUnload = app.ViewBase.prototype.onUnload;
        ViolationViewType.prototype.onUnload = function () {
        };

        // Инициализует элементы формы при загрузке
        ViolationViewType.prototype.base_initControls = app.ViewBase.prototype.initControls;
        ViolationViewType.prototype.initControls = function (container) {

            this.base_initControls(container);

            $(".delete-btn").click(function () {

                if (!confirm('@Aspun.Web.Resources.Strings.ConfirmDeleteViolation')) {
                    return false;
                }

                var url = $(this).attr("href");

                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data, textStatus, jqXHR) {
                        // Перейти к списку
                        window.location.href = '@Url.RouteUrl(new { controller="Violation", Action="Index" })';
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        app.msgError('@Aspun.Web.Resources.Strings.ErrorAjaxRequest' + ' / ' + errorThrown);
                    }
                });

                return false;
            });
        };

        var ViolationView = new ViolationViewType();
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            ViolationView.onLoad();
        });

        $(window).unload(function () {
            ViolationView.onUnload();
        });
    </script>

    }

<h2>Редактирование нарушения</h2>

@using (Html.BeginForm("Edit", "Violation", FormMethod.Post, new { id = "formViolation" }))
{
    @Html.ValidationSummary(false, Aspun.Web.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "violationedit-validation" })

    @Html.HiddenFor(model => model.ViolationId)

    <table class="table-fluid">
        <tr>
            <td>
                @Html.LabelFor(model => model.Number)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Number, new { @readonly="readonly" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Number)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DateString)
            </td>
            <td>
                @Html.EditorFor(model => model.DateString)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.DateString)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.BusinessUnitName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.BusinessUnitName, new { @class="x2", @readonly="readonly" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.BusinessUnitName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.EmployeeFIO)
            </td>
            <td>
                @Html.TextBoxFor(model => model.EmployeeFIO, new { @class="x2", @readonly="readonly" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.EmployeeFIO)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.EmployeeNumber)
            </td>
            <td>
                @Html.EditorFor(model => model.EmployeeNumber)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.EmployeeNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.EmployeePosition)
            </td>
            <td>
                @Html.TextBoxFor(model => model.EmployeePosition, new { @class="x2", @readonly="readonly" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.EmployeePosition)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.EmployeeUnit)
            </td>
            <td>
                @Html.TextBoxFor(model => model.EmployeeUnit, new { @class="x2", @readonly="readonly" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.EmployeeUnit)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ViolationTypeCode)
            </td>
            <td>
                @Html.EditorFor(model => model.ViolationTypeCode)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.ViolationTypeCode)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ViolationTypeDescription)
            </td>
            <td>
                @Html.TextBoxFor(model => model.ViolationTypeDescription, new { @class = "x2" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.ViolationTypeDescription)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ViolationTypePar)
            </td>
            <td>
                @Html.EditorFor(model => model.ViolationTypePar)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.ViolationTypePar)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Description)
            </td>
            <td>
                @Html.TextAreaFor(model => model.Description, 5, 80, new { @class = "x2" })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>            
        <tr>
            <td>
                @Html.LabelFor(model => model.CreatorUserName)
            </td>
            <td>
                @Html.EditorFor(model => model.CreatorUserName)
            </td>
            <td>
                
            </td>
        </tr> 
 
    </table>
        
    <p>
        <input type="submit" value="Сохранить" class="btn"/>
        @if(Model.IsDeleteEnabled) {
            @Html.ActionLink("Удалить", "Delete", new { id = Model.ViolationId }, new { @class = "btn delete-btn" })
        }
        @Html.ActionLink("Отмена", "Index", null, new { @class="btn"} )
        
    </p>
}
