﻿@model Aspun.Web.ViewModels.PagedViolationsModel

@{
    ViewBag.Title = "Нарушения";
}

@section Scripts {

@*    <script type="text/javascript">
        $(function(){
            'use strict';

            $(".delete-btn").click(function () {

                if (!confirm('@Aspun.Web.Resources.Strings.ConfirmDeleteEmployee')) {
                    return false;
                }

                var url = $(this).attr("href");

                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data, textStatus, jqXHR) {
                        // Просто перезагрузить страницу
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        app.msgError('@Aspun.Web.Resources.Strings.ErrorAjaxRequest' + ' / ' + errorThrown);
                    }
                });

                return false;
            });
        });
    </script>*@
}

<h2>Нарушения</h2>

<p>
    @if(Model.IsCreateEnabled) {
        @Html.ActionLink("Новое нарушение...", "Create", null, new { @class="btn" })
    }
</p>

@{
    var grid = new WebGrid(null, rowsPerPage: Model.PageSize, defaultSort: "Date");
    // Force a descending sort only when no user specified sort is present
    if (Request.QueryString[grid.SortDirectionFieldName].IsEmpty())
    {
        grid.SortDirection = SortDirection.Descending;
    }
    grid.Bind(Model.Violations, rowCount: Model.TotalRows, autoSortAndPage: false);
}

<div class="inspection-list">
    @grid.GetHtml(columns: grid.Columns(
        grid.Column(columnName: "Number", canSort: true, header: "Номер", style: "webgrid-cell"),
        grid.Column(columnName: "Date", canSort: true, header: "Дата", style: "webgrid-cell", format: @<text>@Aspun.Web.AppCode.ConvertHelper.ToString(item.Date)</text>),
        grid.Column(columnName: "EmployeeFIO", canSort: true, header: "ФИО", style: "webgrid-cell"),
        grid.Column(columnName: "EmployeePosition", canSort: true, header: "Должность", style: "webgrid-cell"),
        grid.Column(columnName: "EmployeeUnit", canSort: true, header: "Подразделение", style: "webgrid-cell"),
        grid.Column(columnName: "ViolationTypeDescription", canSort: true, header: "Нарушение", style: "webgrid-cell"),
        grid.Column(columnName: "BusinessUnitName", canSort: true, header: "Предприятие", style: "webgrid-cell"),
        
        grid.Column(columnName: "ViolationId", canSort: false, header: "", style: "webgrid-cell",
            format: @<text>
                        @Html.ActionLink("Открыть", Model.UserCanEdit? "Edit" : "Details", new { id = item.ViolationId }, new { @class = "btn open-btn" })
                    </text>)
        ),
        
        tableStyle: "webgrid webgrid-stretched",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style"        
    )
</div> 

@* 

        grid.Column(columnName: "Number", header: "Номер", style: "webgrid-cell",
            format:@<text>
                    @Html.ActionLink((string)item.Number, "Details", new { id = item.ViolationId})
                   </text>),

        grid.Column(columnName: "ViolationId", canSort: false, header: "", style: "webgrid-cell",
            format: @<text>
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.ViolationId }, new { @class = "btn edit-btn" })
                    </text>)
        ,
        grid.Column(columnName: "ViolationId", canSort: false, header: "", style: "webgrid-cell",
            format: @<text>
                        @Html.ActionLink("Удалить", "Delete", new { id = item.ViolationId }, new { @class = "btn delete-btn" })
                    </text>)
*@

