﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <title>АСПУН - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css", 
                "~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

@{
    bool isControlMenuVisible = (bool)ViewData["IsControlMenuVisible"];
    bool isDictionaryMenuVisible = (bool)ViewData["IsDictionaryMenuVisible"];
    bool isViolationTypeSubmenuVisible = (bool)ViewData["IsViolationTypeSubmenuVisible"];
    bool isBusinessUnitSubmenuVisible = (bool)ViewData["IsBusinessUnitSubmenuVisible"];
    bool isEmployeesSubmenuVisible = (bool)ViewData["IsEmployeesSubmenuVisible"];
}

<body>

    <header>
        <div class="navbar navbar-top">
            <div class="navbar-inner">

                @Html.ActionLink("АСПУН", "Index", "Home", null, new { @class = "brand", title=@Aspun.Web.Resources.Names.SystemName })

                <ul class="nav pull-right">
                    <li>@Html.ActionLink("Нарушения", "Index", "Violation", null, new { })</li>

                    @if(isDictionaryMenuVisible) {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Справочники
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                @if(isViolationTypeSubmenuVisible) {
                                    <li>@Html.ActionLink("Типы нарушений", "Index", "ViolationType", null, new { })</li>
                                }
                                @if(isBusinessUnitSubmenuVisible) {
                                    <li>@Html.ActionLink("Предприятия", "Index", "BusinessUnit", null, new { })</li>
                                }
                                @if(isEmployeesSubmenuVisible) {
                                    <li>@Html.ActionLink("Сотрудники", "Index", "Employee", null, new { })</li>
                                }
                            </ul>
                        </li>
                    }

                    @if(isControlMenuVisible) {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Управление
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Пользователи", "Index", "User", null, new { })</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div>
            <div id="login" class="pull-right">
                Пользователь <span class="username">@User.Identity.Name</span>
            </div>
        </div>
    </header>



    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <span>&copy; @DateTime.Now.Year - Автоматизированная система персонального учета нарушений</span>
    </footer>

    @Scripts.Render(
            "~/bundles/jquery",
            "~/bundles/jqueryui",
            "~/bundles/jqueryval",
            "~/bundles/plugins",
            "~/bundles/app")

    
    <script type="text/javascript">
        $(document).ready(function () {
            $("footer").pinFooter();
        });

        $(window).resize(function () {
            $("footer").pinFooter();
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
