﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<hgroup class="title">
    <h1 class="error" style="color: red">Ошибка</h1>
    <h2 class="error" style="color: red">Во время выполнения запроса произошла ошибка. Попробуйте повторить выполнение действия.</h2>
</hgroup>

@if(!String.IsNullOrEmpty(ViewData["ErrorMessage"] as String)) {
    <span>@ViewData["ErrorMessage"]</span>
}
<br />
<a href="javascript:void(0)" onclick="javascript: history.back();">&larr; Вернуться на предыдущую страницу</a>