﻿@model Aspun.Web.ViewModels.EmployeeBaseModel

@Html.HiddenFor(model => model.EmployeeId)

<div class="editor-label">
    @Html.LabelFor(model => model.FIO)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.FIO, new { @class = "x2" })
    @Html.ValidationMessageFor(model => model.FIO)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Position)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Position, new { @class = "x2" })
    @Html.ValidationMessageFor(model => model.Position)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Unit)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Unit, new { @class = "x2" })
    @Html.ValidationMessageFor(model => model.Unit)
</div>