﻿@model Aspun.Web.AppCode.ImplortEmployeesActionStatus

@if (Model.ErrorStatus > 0) {
    <span>Во время импорта списка произошла ошибка. Попробуйте повторить загрузку позже.</span><br />
    <span>@Model.ErrorMessage</span>
}
else {
    <span>Данные импортированы из файла.</span><br />
    <span>Импортировано сотрудников: </span>@Model.CountEmployees<br />
}

