﻿@model Aspun.Web.AppCode.UploadFileActionStatus

@if (Model.ErrorStatus > 0) {
    <span>Во время загрузки файла произошла ошибка. Попробуйте повторить загрузку позже.</span><br />
    <span>@Model.ErrorMessage</span>
}
else {
    <span>Файл загружен.</span><br />
    <span>Имя файла: </span>@Model.FileName<br />
    <span>Размер файла: </span>@Model.FileSize <span>КБ</span><br />
    
    <a class="btn">Импортировать список</a>
}

