﻿@model Aspun.Web.ViewModels.EmployeeCreateModel

@{
    ViewBag.Title = "Новый сотрудник";
}

<h2>Новый сотрудник</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false, Aspun.Web.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "employeecreate-validation" })

    <div class="editor-label">
        @Html.LabelFor(model => model.Number)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Number)
        @Html.ValidationMessageFor(model => model.Number)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.BusinessUnit)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.BusinessUnit, Model.BusinessUnitList, new { @class = "x2" })
        @Html.ValidationMessageFor(model => model.BusinessUnit)
    </div>

    @Html.Partial("_Common", Model)

    <p>
        <input type="submit" value="Создать" class="btn"/>
        @Html.ActionLink("Отмена", "Index", null, new { @class="btn"} )
    </p>
}
