﻿@{
    ViewBag.Title = "Удаление сотрудника";
}

<h2>Удаление сотрудника</h2>

<span>Подтвердите удаление сотрудника</span>

<br />

@using (Html.BeginForm("Delete", "Employee", FormMethod.Post, new { id = "formDeleteEmployee" }))
{
    <input type="submit" class="btn" name="delete" value="Удалить" />
    @Html.ActionLink("Отмена", "Index", null, new { @class="btn"})
}
