﻿@model Aspun.Web.ViewModels.EmployeeEditModel

@{
    ViewBag.Title = "Редактирование сотрудника";
}

<h2>Редактирование сотрудника</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false, Aspun.Web.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "employeeedit-validation" })

    <div class="editor-label">
        @Html.LabelFor(model => model.Number)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Number)
        @Html.ValidationMessageFor(model => model.Number)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.BusinessUnit)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.BusinessUnit, new { @class="x2", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.BusinessUnit)
    </div>

    @Html.Partial("_Common", Model)

    <p>
        <input type="submit" value="Сохранить" class="btn"/>
        @Html.ActionLink("Отмена", "Index", null, new { @class="btn"} )
    </p>
}
