﻿@{
    ViewBag.Title = "Импортирт списка сотрудников";
}

@section Scripts {

    @Scripts.Render(
    "~/bundles/fileupload")

    <script type="text/javascript">
        $(function () {
            'use strict';

            // Инициализировать плагин загрузки файла
            $('#fileupload').fileupload({
                dataType: 'json',
                maxNumberOfFiles: 1,
                //maxChunkSize: 1000000, // chunked upload only in Mozilla, Chrome and IE 10+
                //autoUpload: true,
                //acceptFileTypes: /^Excel files\/(xls, xlsx)$/, ///(\.|\/)(xls|xlsx)$/i,
                done: function (e, data) {

                    // data.result.errorStatus
                    // data.result.errorMessage
                    // data.result.displayFileName
                    // data.result.serverFileName
                    // data.result.fileSize
                    // Заполнить информацию о файле в форме
                    if (data.result.errorStatus == 0) {
                        $("#serverFileName").val(data.result.serverFileName);
                        $("#displayFileName").html(data.result.displayFileName);
                        $("#fileSize").html(data.result.fileSize);
                        $('#container-formImport').show();
                    }
                    else {
                        app.msgError(data.result.errorMessage);
                    }
                },
                add: function (e, data) {
                    
                    // установить видимость элементов в первоначальное состояние
                    $('.hidden-onstart').hide();
                    $('.visible-onstart').show();

                    var jqXHR = data.submit()
                        .success(function (result, textStatus, jqXHR) {  })
                        .error(function (jqXHR, textStatus, errorThrown) { /*alert('xhr error: ' + textStatus);*/ })
                        .complete(function (result, textStatus, jqXHR) {/* ... */ });
                },
                send: function (e, data) {
                    
                },
                fail: function (e, data) {

                    app.msgError('@Aspun.Web.Resources.Strings.ErrorAjaxRequest' + ' / ' + data.errorThrown);

                    // data.textStatus
                    // data.errorThrown;
                    // data.jqXHR;
                },

                start: function (e) {

                    $.blockUI({ message: '<div class="blockmsg">Загрузка файла на сервер...</div>' });
                },
                always: function (e, data) {
                    // data.result
                    // data.textStatus;
                    // data.jqXHR;

                    $.unblockUI();
                }
            });

            // Управление формой импорта списка

            $("#submitFormImport").click(function () {
                var frm = $(this).closest("form");
                
                if (!confirm("Внимание, сотрудники в существующем списке будут удалены.")) {
                    return false;
                }

                $.blockUI({ message: '<div class="blockmsg"></span>Импорт списка сотрудников...</div>' });

                // Отправать запрос на сервер на выполнение импорта
                var jqxhr = $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        // По получению результата (html разметки) вывести его на форму
                        $("#submitFormImport").hide();
                        $("#container-importResult").html(data).show();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        app.msgError('@Aspun.Web.Resources.Strings.ErrorAjaxRequest' + ' / ' + errorThrown);
                    }
                })
                .always(function () { $.unblockUI(); });

                //$.ajax("example.php")
                //    .done(function () { alert("success"); })
                //    .fail(function () { alert("error"); })
                //    ;
            });
        });
    </script>
}

<h2>Импортировать список сотрудников</h2>

<noscript>
    <span>Загрузка файлов требует разрешения JavaScript в браузере.</span>
</noscript>

<span>Выберите Excel-файл:</span>
<input id="fileupload" type="file" name="files[]" data-url="@Url.Content("~/Upload/UploadHandler.ashx")" style="margin-bottom: 15px;"> 

<!-- Форма содержит информацию о файле и позволяет выполнить запрос к серверу на импорт данных -->
<div id="container-formImport" style="display:none" class="hidden-onstart">
    @using (Html.BeginForm("Import", "Employee", FormMethod.Post, new { id = "formImport" }))
    {
        <p>Файл загружен.</p>
        <p>
            <span>Имя файла: </span> <span id="displayFileName"></span>
        </p>
        <p>
            <span>Размер файла: </span> <span id="fileSize"></span> <span>Б</span>
        </p>
        <input type="hidden" id="serverFileName" name="serverFileName" />
        
        <a id="submitFormImport" class="btn visible-onstart">Импортировать список</a>
        
        <!-- Здесь будут отображаться результаты импорта списка -->
        <div id="container-importResult" class="hidden-onstart">

        </div>
    }
</div>


<p style="margin-top: 15px;">
    @Html.ActionLink("← Вернуться к списку сотрудников", "Index")
</p>
    

