﻿@model Aspun.Web.ViewModels.PagedEmployeesModel

@{
    ViewBag.Title = "Сотрудники";
}

@section Scripts {

    <script type="text/javascript">
        $(function(){
            'use strict';

            $(".delete-btn").click(function () {

                if (!confirm('@Aspun.Web.Resources.Strings.ConfirmDeleteEmployee')) {
                    return false;
                }

                var url = $(this).attr("href");

                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data, textStatus, jqXHR) {
                        // Просто перезагрузить страницу
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        app.msgError('@Aspun.Web.Resources.Strings.ErrorAjaxRequest' + ' / ' + errorThrown);
                    }
                });

                return false;
            });
        });
    </script>
}

<h2>Сотрудники</h2>

<p>
    @if(Model.IsCreateEnabled) {
        @Html.ActionLink("Добавить сотрудника...", "Create", null, new { @class="btn" })
    }

    @if(Model.IsImportEnabled) {
        @Html.ActionLink("Импортировать список сотрудников...", "Import", null, new { @class="btn" })
    }
</p>

@{
    var grid = new WebGrid(null, rowsPerPage: Model.PageSize, defaultSort: "FIO");
    grid.Bind(Model.Employees, rowCount: Model.TotalRows, autoSortAndPage: false);
}

<div class="inspection-list">
    @grid.GetHtml(columns: grid.Columns(
        grid.Column(columnName: "FIO", header: "ФИО", style: "webgrid-cell",
            format:@<text>
                    @if(Model.IsEditEnabled) {
                        @Html.ActionLink((string)item.FIO, "Edit", new { id = item.EmployeeId})
                    }
                    else {
                        @Html.Encode((string)item.FIO)
                    }
                   </text>),
        grid.Column(columnName: "Number", canSort: true, header: "Таб.номер", style: "webgrid-cell"),
        grid.Column(columnName: "Position", canSort: true, header: "Должность", style: "webgrid-cell"),
        grid.Column(columnName: "Unit", canSort: true, header: "Подразделение", style: "webgrid-cell"),
        grid.Column(columnName: "BusinessUnit", canSort: true, header: "Предприятие", style: "webgrid-cell"),

        grid.Column(columnName: "EmployeeId", canSort: false, header: "", style: "webgrid-cell",
            format: @<text>
                        @if(Model.IsDeleteEnabled) {
                            <a href='@Url.Action("Delete",new { id = item.EmployeeId })'  class="btn delete-btn" title="Удалить">
                                <i class="icon-remove"></i>
                            </a>
                        }
                    </text>)
        ),
        tableStyle: "webgrid webgrid-stretched",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style"        
    )
</div> 

@* @Html.ActionLink("Удалить", "Delete", new { id = item.EmployeeId }, new { @class = "btn delete-btn" }) *@
